.card-light {
   


    margin: 5rem 0 1rem;
    box-shadow: 0px 0.5px 4px 2.5px rgb(145 27 186 / 6%);
    border-radius: 10px;
  
    
    color: #800780;
    background-color: white;
    font-weight: 50;
    font-size: 2 rem;
}
.other-courses-card {
    border-radius: 2rem;


    padding: 3rem;

    background: linear-gradient( 108.24deg, rgba(128, 0, 128, 0.8) -40.19%, rgba(255, 134, 76, 0.8) 83.1% );
   

   
    gap: 3rem;
    background: #ffffff;
    box-shadow: 0px 0px 1.5rem rgb(0 0 0 / 10%);
  
}
.other-courses-card h3 {
    font-weight: 700;
    
    line-height: 4.2rem;
    color: #800080;
}




.save {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 700;
}


.how {
    width: 10rem;
    height: 30px;
    background: #800080;
    border-radius: 10px;
    font-weight: 100;
    
    line-height: 2.rem;
    color: #ffffff;
    
    margin-left: 30px;
}
.works{
    color: #800080;
    margin-left: 30px;
}
.user{
   color: gray;
   margin-left: 30px;
    height: 100px;
    width: 100px;
    margin-top: 10px;
    justify-content: space-between;
}
.content{
    display: flex;
}
.icon{
  flex-direction: column;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    justify-content: space-around;
 
}